.card-tailor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 3rem 0;

}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #279864;
    margin-left: 0.5rem;
}

.container-tailor .card-tailor ul {
    list-style: none;
}

.container-tailor .card-tailor li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 0 0 2rem;
}

input#nama, input#alamat, input#jenis {
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #279864;
    padding-left: 1rem;
}

input#ulasan {
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #279864;
    padding-left: 1rem;
}

input#file-upload-button {
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem 7.5rem 1rem 7.5rem;
    background-color: #279864;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

button {
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem 7.5rem 1rem 7.5rem;
    background-color: #279864;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    padding: 0 1rem 0 1rem;
}

button.active, button:hover {
    
    background-color: #CDF2D0;
    transition: all 0.5s ease;
}




@media (max-width: 800px) {
    .search-results .line { 
        margin-top: 2.5rem;
    }
}
