@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url('../assets/background.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bangs {
    position: fixed;
    top: 0;
    width: 100%;
    background: #279864;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.bangs .title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    margin-top: 3.5rem;
    /* border: 0.2rem solid #279864; */
    width: 100%;
}

nav .logo {
    margin: 0 0 0 0;
}

nav .logo img {
    margin: 1.69rem 4.47rem;
    /* border: 0.2rem solid #279864; */
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 3.5rem;
    align-items: center;
    
}

nav ul li {
    padding: 2.81rem 0;
}

nav ul li a {
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

nav ul li a.active, nav ul li a:hover {
    color: #279864;
    transition: all 0.5s ease; 
}

.search-container {
    width: 100%;
    min-height: 100vh;
    
}

.search {
    width: 100%;
    display: flex;
    /* border: 0.2rem solid #279864; */
    justify-content: center;
}


.search-input {
    width: 38rem;
    height: 3.125rem;
    border-radius: 1.875rem;
    border: 1px solid #5C5C5C;
    background: #F0F0F0;
    margin: 0 4rem 0rem 0rem;
    padding: 0rem 1.7rem;
    font-size: 1.25rem;
}

.search-input:focus {
    outline: none;
    border: #279864 0.2rem solid;
}


.sort-filter .search-option {
    border-radius: 1.875rem;
    border: 1px solid #5C5C5C;
    background: #F0F0F0;
    width: 8rem;
    height: 2rem;
    padding: 0rem 1.7rem;
    font-size: 1.25rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: 0.6s all;

}

.sort-filter .search-option:hover {
    cursor: pointer;
    margin: 0 0.5rem;
    border: 0.2rem solid #279864;
}


.sort-filter .search-option option:hover {
    background-color: #279864;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;
}

.buttons-container {
    display: flex;
    /* border: 0.2rem solid #000; */
    align-items: center;
}
  
.btn {
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #279864;
    color: #000;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.6s all;
    width: 5rem;
    height: 2rem;
    margin: 0 0.5rem;
    font-size: 15px;
}

.btn:hover {
    background-color: #CDF2D0;
    color: #000;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;
}

.search-results {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 3rem;
    width: 100%;
}

.search-results .line {
    width: 100%;
    background: #279864;
    height: 60px;
    text-align: center;
    padding-top: 0.5rem;
}

.line p {
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: normal;
}

.search-results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}
.tailor-list {
    list-style: none;
    margin-bottom: 5rem;
    justify-content: center;
}

.tailor-card-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.tailor-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tailor-item {
    display: flex;
    justify-content:left;
    margin-bottom: 0rem;

}
.tailor-counter {
    font-size: 1.25rem;
    font-weight: bold;
    border-right: 0.2rem solid #279864;
    margin-right: 1rem;
    padding: 1rem 2rem 1rem 2rem;
}

.tailor-media {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.tailor-name {
    color: #000;
    font-family: Poppins;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tailor-address {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

}

.tailor-category {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.tailor-info {
    margin: 1rem 4rem;

}

.tailor-actions {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3.5rem;
}

.tailor-actions .update, 
.tailor-actions .review{
    color: #279864;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    margin: 1rem 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tailor-actions .delete{
    color: #820404;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    margin: 1rem 2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* hover */
.tailor-actions .update:hover,
.tailor-actions .delete:hover,
.tailor-actions .review:hover {
    transform: scale(1.1);
    transition: all 0.5s ease; 
}

.add-tailor a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    /* border: 0.2rem solid #279864; */
    color: #87bf8c;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-tailor a:hover,
.add-tailor a:active {
    color: #279864;
    transition: all 0.5s ease; 
}


@media (max-width: 1324px) {
    .search {
        flex-direction: column;
        align-items: center;
    }
    .search-input {
        width: 90%;
        margin: 0 0rem 1rem 0rem;
    }
}

@media (max-width: 900px) {
    .tailor-item {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .tailor-media,
    .tailor-info,
    .tailor-actions {
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
    }

    .tailor-media img,
    .tailor-media video {
        width: 100%;
        height: auto;
    }

    .tailor-counter {
        font-size: 1.25rem;
        font-weight: bold;
        padding-right: 2rem;
        margin-right: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        border: none;
    }

    .btn {
        width: 4rem;
        height: 2rem;
        margin: 0 0.5rem;
        font-size: 10px;
    }
}


@media (max-width: 800px) {
    .search {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .search-results .line {
        width: 100%;
        background: #279864;
        height: 60px;
        text-align: center;
        padding-top: 0.5rem;
    }
    .sort-filter .search-option {
        width: 4rem;
        height: 2rem;
        margin: 0 0.5rem;
        font-size: 10px;
    }

    nav {
        margin: 0 0 0 0;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 0 0 0 0;
        align-items: center;
    }

    nav ul li {
        padding: 1rem 0;
        border-bottom: 0.2rem solid #279864;
    }

    nav .logo img {
        margin: 5rem 0 0 0;
        height: 200;
        width: auto;
    
    }


}
