.styled-table-container {
    text-align: center;
    margin-top: 3rem;
}

.styled-table {
    width: 100%;
    max-width: 800px; /* Sesuaikan dengan lebar maksimum yang diinginkan */
    margin: 25px auto; /* Untuk memposisikan di tengah layar */
    border-collapse: collapse;
    font-size: 0.9rem;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #279864;
    color: #000000;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #279864;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

a.delete {
    color: #820404;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
}

a.update {
    color: #279864;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
}

.aksi {
    display: flex;
    flex-direction: column;
    height: 100%;
}
